@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --dark-bg: #252525;
  --dark-text: #e2e2e2;
  --dark-text-secondary: #b4b4b4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--dark-bg);
  color: var(--dark-text);
}
