@import url("https://capture-ui.netlify.app/css/components.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  --bg-app: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  color: var(--text-color);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section.main-section {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 10rem 1fr;
  color: var(--text-color);
}

.component-container {
  padding: 1rem;
}

/* Resets */

button {
  all: unset;
  cursor: pointer;
  border: none;
}

.btn {
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
}
